   # Python
   __pycache__/
   *.py[cod]
   *$py.class

   # Virtual environment
   venv/
   lala/

   # Flask
   instance/
   .webassets-cache

   # SQLite database
   *.db

   # Environment variables
   .env

   # macOS
   .DS_Store

   # PyCharm
   .idea/